<div class="like-box">
  <% if user_signed_in? && post.user_id != current_user.id %>

    <% if post.liked_by?(current_user) %><!-- カレントユーザにいいねされていたら -->
      <p><%=link_to post_favorites_path(post.id), method: :delete, remote: true do%><i class="fas fa-heart"><%= post.favorites.count %></i><% end %></p>
    <% else %><!-- カレントユーザにいいねされていなかったら -->
      <p class="like"><%=link_to post_favorites_path(post.id), method: :post, remote: true do%><i class="far fa-heart"><%= post.favorites.count %></i><% end %></p>
    <% end %>

  <% else %>

    <p><i class="fas fa-heart"></i><%= post.favorites_count %></p>

  <% end %>
</div>