<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="user-profileimage">
				<% if @user == current_user %>
					<%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: 'no_image.jpg', class:"img-circle img-user", id:"modal-open", "data-target":"user-show" %>
				<% else %>
				    <%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: 'no_image.jpg', class:"img-circle img-user" %>
				<% end %>
		    </div>
		</div>
		<div class="col-md-7">
			<div class="user-name">
				<%= @user.name %>
			</div>
			<div class="user-introduction">
				<%= @user.introduction %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="follow">
			    <a href="#tab2"><h4>フォロー <%= @user.following.count %></h4></a>
			    <a href="#tab3"><h4>フォロワー <%= @user.followers.count %></h4></a>
			    <%= render 'users/follow' %>
			</div>

			<% if @user.id == current_user.id %>
				<div class="timeline">
					<div class="timeline-box">
						<div class="timeline-heading">
							<h4><i class="far fa-clipboard"></i> タイムライン</h4>
						</div>
						<% if @timeline_posts.exists? %>
							<% @timeline_posts.first(5).each do |timeline_post| %>
							    <div class="timeline-post">
							    	<%= link_to post_path(timeline_post.id), data: {"turbolinks" => false} do %><%= attachment_image_tag timeline_post, :post_image, format:"jpg", fallback:"no_image.jpg", class:"timeline-post-image" %><% end %>
							    </div>
							<% end %>
						<% else %>
						    <p class="no-timeline">タイムラインはありません</p>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-md-8">
			<nav class="navbar navbar-default bg-dark mypage-nav">
				<div class="container-fluid">
					<ul class="nav navbar-nav" id="tab-menu">
						<li class="nav-item"><a href="#tab1" class="active">投稿一覧</a></li>
						<li class="nav-item tab2"><a href="#tab2">フォロー</a></li>
						<li class="nav-item tab3"><a href="#tab3">フォロワー</a></li>
						<li class="nav-item"><a href="#tab4">いいね</a></li>
						<li class="nav-item"><a href="#tab5">アルバム</a></li>
					</ul>
				</div>
			</nav>
			<div id="tab-contents">
	        	<div id="tab1" class="tab">
	        		<%= render 'users/posts' %>
	        	</div>
	        	<div id="tab2" class="tab">
	        		<%= render 'users/following' %>
	        	</div>
	        	<div id="tab3" class="tab">
	        		<%= render 'users/followers' %>
	        	</div>
	        	<div id="tab4" class="tab">
	        		<%= render 'users/favorites' %>
	        	</div>
	        	<div id="tab4" class="tab">
	        		<%= render 'users/albums' %>
	        	</div>
	        </div>

		</div>
	</div>

	<%= render 'users/edit' %>

</div>

