<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpg', fallback: 'no_image.jpg', size:'150x150', class:"img-circle pull-right img-user", id:"modal-open", "data-target":"user-show" %>
		</div>
		<div class="col-md-7">
			<div class="user-name">
				<%= @user.name %>
			</div>
			<div class="user-introduction">
				<%= @user.introduction %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="follow">
				<% unless current_user == @user %>
				  <% if current_user.following?(@user) %>
				    <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
				      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
				    <% end %>
				  <% else %>
				    <%= form_for(current_user.active_relationships.build) do |f| %>
				      <%= hidden_field_tag :followed_id, @user.id %>
				      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
				    <% end %>
				  <% end %>
				<% end %>
				<% @user.following.each do |following_user| %>
			      フォロー<%= following_user.name %>
			    <% end %>
			    <% @user.followers.each do |following_user| %>
			      フォロワー<%= following_user.name %>
			    <% end %>
			</div>
			<div class="timeline">
			</div>
		</div>
		<div class="col-md-7">
			<nav class="navbar navbar-default bg-dark mypage-nav">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="nav-item"><a href="#">フォロー</a></li>
						<li class="nav-item"><a href="#">フォロワー</a></li>
						<li class="nav-item"><a href="#">いいね</a></li>
						<li class="nav-item"><a href="#">アルバム</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<%= render 'users/edit' %>

</div>

