
<div id="album-index" class="modal-text">
	<p class="pull-right"><a class="user-show-close" id="modal-close"><i class="fas fa-times"></i></a></p>
	<div class="container-fluid modal-box">
		<div class="row">
			<div class="col-md-5">
				<%= form_for(@album, remote: true) do |f| %>
					<h3 class="heading">アルバム作成</h3>
					<div class="field">
						<%= f.label :name, "タイトル" %>
						<%= f.text_field :name, autofocus: true, id:"album_text" %>
					</div>
					<div class="create-btn">
						<%= f.submit "作成", class:"btn-success-user" %>
					</div>
				<% end %>
			</div>

		    <div class="col-md-7" id="albums">
		    	<%= render partial: 'albums/create', locals: { post: @post, album: @album } %>
		    </div>
		</div>
	</div>
</div>