
<div class="container talkroom">
	<div class="row">

		<div class="col-md-12">
			<h1 class="heading">トークルーム</h1>
		</div>

		<div class="col-md-offset-1 col-md-3">
			<div class="create-box">
				<h3>ルーム作成</h3>
				<%= form_for(@room, url:rooms_path, method: :post) do |f| %>
					<div class="field">
						<%= f.text_field :name, placeholder:"ルーム名", class:"form-control" %>
					</div>
					<div class="actions">
						<%= f.submit "作成", class:"btn-success-user" %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-md-7">
			<div class="rooms">
				<% @rooms.each do |room| %>
					<div class="room-box">

						<div class="col-md-4 owner-box">
							<div>
								<%= attachment_image_tag room.user, :profile_image, :fill, 80, 80, format:"jpg", fallback:"/images/no_image.jpg",  size:"80x80", class:"img-circle", alt:"ユーザイメージ" %>
							</div>
						</div>

						<%= link_to room_path(room.id) do %>
						<div class="col-md-8 roomname-box">
							<h3><%= room.name %></h3>
							<p>最終更新: <%= room.messages.first.created_at.strftime('%Y/%m/%d %H:%M') %></p>
						</div>
						<% end %>

					</div>
				<% end %>
		    </div>
	    </div>

	</div>
</div>







