<% @late_posts.each do |post| %>
	<div class="col-md-4 index-post-box">
		<div class="post-img"><%= link_to post_path(post.id), data: {"turbolinks" => false} do %><%= attachment_image_tag post, :post_image, :fill, 300, 300, format: 'jpg', fallback:'/images/no_image.jpg', size:'300x300', alt:"ポストイメージ" %><% end %>
			<div class="post-title"><%= post.title %></div>
			<div class="post-user"><%= post.user.name %></div>
			<div class="post-like">
				<div id="late_likes_buttons_<%= post.id %>">
			    	<%= render partial: 'favorites/late_favorite', locals: {post: post} %>
			    </div>
			</div>
		</div>
	</div>
<% end %>
<div class="row" style="text-align: center;">
	<%= paginate @late_posts, :param_name => 'late_page', remote: true %>
</div>