<div class="container post-edit">
	<div class="row">
		<div class="col-md-12">
			<h2 class="heading">編集画面</h2>
		</div>
	</div>
    <div class="post-box">
    	<%= form_for(@post) do |f| %>
    	<%= render 'layouts/error_messages', model: f.object %>

    	<div class="row post-img">
			<div class="col-md-12">
				<%= attachment_image_tag @post, :post_image, format:"jpg", fallback:"/images/no_image.jpg", class:"post-edit-img", alt:"ポストイメージ" %>
			</div>
		</div>

		<div class="row post-title">
			<div class="col-md-12">
				<%= f.label :title, "タイトル" %>
				<%= f.text_field :title, autocomplete: true, class:"form-control" %>
			</div>
		</div>

		<div class="row post-text">
			<div class="col-md-12">
				<%= f.label :text, "説明文" %>
				<%= f.text_area :text, autocomplete: true, class:"form-control" %>
			</div>
		</div>

		<div class="row edit-actions">
			<div class="col-md-offset-1 col-md-5">
				<%= f.submit "保存", class:"form btn-success-user" %>
			</div>
			<div class="col-md-5">
			    <%= link_to post_path(@post.id), method: :delete, data: {"turbolinks" => false}, class:"pull-right", data:{confirm:"本当に投稿を削除しますか?"} do %>
			        <button class="btn-post">投稿を削除</button>
			    <% end %>
			</div>
		</div>

		<% end %>
	</div>
</div>