<div class="container post-index">

    <div class="index-cont">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="post-order">
					<ul id="tab-menu">
						<a href="#tab1" class="active"><li>新着</li></a>
						<a href="#tab2" class=""><li>トレンド</li></a>
						<li></li>
						<li></li>
			        </ul>
			    </div>
			</div>
		</div>

        <div id="tab-contents">
        	<div id="tab1" class="tab">
				<div class="row index-box late-posts">
					<% @posts.order(created_at: :desc).each do |post| %>
					  <div class="col-md-4 index-post-box">
					    <div class="post-img"><%= link_to post_path(post.id) do %><%= attachment_image_tag post, :post_image, :fill, 300, 300, format: 'jpg', fallback:'no_image.jpg', size:'300x300' %><% end %>
							<div class="post-title"><%= post.title %></div>
							<div class="post-user"><%= post.user.name %></div>
							<div class="post-like">
								<div id="likes_buttons_<%= post.id %>">
							    	<%= render partial: 'favorites/favorite', locals: {post: post} %>
							    </div>
							</div>
					    </div>
					  </div>
					<% end %>
				</div>
			</div>

			<div id="tab2" class="tab">
				<div class="row index-box trend-posts">
					<% @posts.order(favorites_count: :desc).each do |post| %>
					<div class="col-md-4 index-post-box">
						<div class="post-img"><%= link_to post_path(post.id) do %><%= attachment_image_tag post, :post_image, :fill, 300, 300, format: 'jpg', fallback:'no_image.jpg', size:'300x300' %><% end %>
						    <div class="post-title"><%= post.title %></div>
						    <div class="post-user"><%= post.user.name %></div>
						    <div class="post-like">
						      	<div id="likes_buttons_<%= post.id %>">
						            <%= render partial: 'favorites/favorite', locals: {post: post} %>
						        </div>
					      </div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>

</div>