<div class="container post-show">
    <div class="post-show-box" id="post-<%= @post.id %>" data-post-id="<%= @post.id %>">

    	<div class="row post-img">
			<div class="col-md-offset-2 col-md-8">
				<%= attachment_image_tag @post, :post_image, format:"jpg", class:"post-show-img" %>
			</div>
		</div>

		<div class="row post-menu">
		    <div class="col-md-offset-2 col-md-6">
		    	<h3>
		    		<%= link_to user_path(@post.user.id), data: {"turbolinks" => false}, class:"post-user" do%>
			    		<%= attachment_image_tag @post.user, :profile_image, :fill, 80, 80, format:"jpg", fallback:"no_image.jpg", size: "80x80", class:"img-circle" %>
			    		<%= @post.user.name %>
			   		<% end %>
			   	</h3>
		    </div>
			<div class="col-md-4">
				<div id="likes_buttons_<%= @post.id %>">
		            <%= render partial: 'favorites/favorite', locals: {post: @post} %>
		        </div>
				<button class="btn btn-success" id="modal-open" data-target="album-index">アルバムに追加</button>
				<p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-2 col-md-8 post-title">
				<p><%= @post.title %>
				<span></span></p>
			</div>

			<div class="col-md-offset-2 col-md-8 post-text">
				<p><%= @post.text %></p>
			</div>
        </div>

		<div class="row">
			<div class="col-md-offset-9 col-md-2">
				<%= link_to "編集する", edit_post_path(@post.id), class:"form btn btn-post", data: {"turbolinks" => false} %>
			</div>
		</div>

	</div>
</div>

<%= render 'albums/index' %>