<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">

      <h2>New Account</h2>

      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class:"form" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"form" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
